* {
    box-sizing: border-box;
}

.start-container {
    width: 350px;
    height: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
}

.question-1, .question-2, .question-3, .question-4, .question-5 {
    width: 350px;
    height: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    visibility: hidden;
}